#p_desc {
    resize: none;
}

#updatesavebtn {
    display: none;
}

.form-cc {
    border-left: 3px #146c43;
    border-left-style: dotted;
    border-right: 3px #146c43;
    border-right-style: dotted;
}

#tbtitle {
    border-bottom: 3px #146c43;
    border-bottom-style: double;
    border-left: 3px #146c43;
    border-left-style: double;
    border-right: 3px #146c43;
    border-right-style: dotted;
    border-top: 3px #146c43;
    border-top-style: dotted;
}